*{
    padding: 0;
    margin: 0;
}

.flex-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: orange;
    border: solid black;
    height: 200px;
}

.flex-item{
    background-color: green;
    color: white;
    border: solid black;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
}

.ai-star{
    align-items: start;
}

.ai-end{
    align-items: end;
}

.ai-stretch{
    align-items: stretch;
}

.ai-stretch div{
    height: 90px;
}

.ai-center{
    align-items: center;
    justify-content: center;
}


/**/
.ai-baseline{
    align-items: baseline;
}
